<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183467627187-drl5a8pujfp44g7ml9v4qvg9isdn83dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183467627187-drl5a8pujfp44g7ml9v4qvg9isdn83dn</string>
	<key>API_KEY</key>
	<string>AIzaSyCttNQOgw3r5TqON7v1kgUQs_dWilDO5oE</string>
	<key>GCM_SENDER_ID</key>
	<string>183467627187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tesssal.Toska</string>
	<key>PROJECT_ID</key>
	<string>toska-4ebf4</string>
	<key>STORAGE_BUCKET</key>
	<string>toska-4ebf4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183467627187:ios:ce1217a856e980f70756c6</string>
</dict>
</plist>